@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1452 0.0021 286.1313);
  --card: oklch(0.9707 0.0027 286.3504);
  --card-foreground: oklch(0.1452 0.0021 286.1313);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1452 0.0021 286.1313);
  --primary: oklch(0.5106 0.2301 276.9656);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9163 0.0420 285.5407);
  --secondary-foreground: oklch(0.2573 0.0861 281.2883);
  --muted: oklch(0.9560 0.0040 286.3240);
  --muted-foreground: oklch(0.5007 0.0047 286.2288);
  --accent: oklch(0.5854 0.2041 277.1173);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9225 0.0027 286.3471);
  --input: oklch(0.9225 0.0027 286.3471);
  --ring: oklch(0.5106 0.2301 276.9656);
  --sidebar: oklch(0.9800 0.0040 286.3263);
  --sidebar-foreground: oklch(0.2573 0.0861 281.2883);
  --sidebar-primary: oklch(0.5106 0.2301 276.9656);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9163 0.0420 285.5407);
  --sidebar-accent-foreground: oklch(0.5106 0.2301 276.9656);
  --sidebar-border: oklch(0.9225 0.0027 286.3471);
  --sidebar-ring: oklch(0.5106 0.2301 276.9656);
  --radius: 0.75rem;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.1457 0.0043 285.8570);
  --card-foreground: oklch(0.9626 0.0066 286.2742);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9626 0.0066 286.2742);
  --primary: oklch(0.5679 0.2113 276.7065);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2542 0.0611 281.1423);
  --secondary-foreground: oklch(0.9163 0.0420 285.5407);
  --muted: oklch(0.1743 0.0227 283.7998);
  --muted-foreground: oklch(0.6822 0.0116 286.0877);
  --accent: oklch(0.3340 0.1038 279.1852);
  --accent-foreground: oklch(0.7853 0.1041 274.7134);
  --destructive: oklch(0.6633 0.2236 28.2919);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2286 0.0096 285.6168);
  --input: oklch(0.2286 0.0096 285.6168);
  --ring: oklch(0.5679 0.2113 276.7065);
  --sidebar: oklch(0.0969 0 0);
  --sidebar-foreground: oklch(0.9626 0.0066 286.2742);
  --sidebar-primary: oklch(0.5679 0.2113 276.7065);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2542 0.0611 281.1423);
  --sidebar-accent-foreground: oklch(0.7853 0.1041 274.7134);
  --sidebar-border: oklch(0.2286 0.0096 285.6168);
  --sidebar-ring: oklch(0.5679 0.2113 276.7065);
  --shadow-color: #5D5FEF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
